Django==1.11.5
py==1.4.34
pytest==3.2.2
python-http-client==3.0.0
pytz==2017.2
sendgrid==3.6.5
-e git+https://github.com/jayhale/sendgrid-django@ab1ccb6a49a23cc067984d57c3f8e5c658bfb6c0#egg=sendgrid_django
